/* Estilos generales del contenedor principal */
.main-header {
    background-color: #1d364e; /* Azul marino oscuro */
    display: flex;
    justify-content: space-between; /* Envía el logo a la izquierda y el menú a la derecha */
    align-items: center;
    padding: 32px 40px;
    font-family: Arial, sans-serif;
}

.country-badge {
    background-color: #ffffff;
    color: #2a4055;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 2px;
}
.brand-logo {
    color: #ffffff;        /* Hace que el título sea blanco y visible */
    font-size: 24px;       /* Tamaño de la letra */
    font-weight: bold;  
    font-family: monserat;
}


/* Sección de enlaces de navegación */
.nav-menu ul {
    list-style: none; /* Quita los puntos negros de la lista */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 25px; /* Separación horizontal entre enlaces */
}

.nav-menu a {
    color: #ffffff;
    text-decoration: none; /* Elimina el subrayado de los textos */
    font-size: 15px;
    letter-spacing: 1.6px; /* Espaciado entre letras */
}

/* botón de la carta  */
.btn-menu {
    background-color: #ffffff;
    color: #000000 !important; 
    padding: 12px 20px;
    font-weight: bold;
    border-radius: 2px;
}

/*imagen del fondo*/

.hero-section {
    width: 100%;
    height: 60vh;
    
    background-image: url("assests/imagen_restaurante.webp"); 
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*SECCION ACERCA DE NOSOTROS*/

/* Contenedor principal de la sección */
.about-section {
    background-color: #ffffff; /* Un gris muy claro o blanco hueso de fondo */
    display: flex;
    justify-content: center;   /* Centra horizontalmente el contenido */
    align-items: center;       /* Centra verticalmente el texto con la foto */
    gap: 80px;                 /* Crea la separación intermedia entre texto y foto */
    padding: 100px 40px;      
    font-family: 'Montserrat', sans-serif;
}

/* Columna del Texto */
.about-text {
    max-width: 450px;          /* Limita el ancho del texto para que no se estire demasiado */
    color: #000000;            /* Color del texto gris oscuro elegante */
}

.about-text h2 {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-bottom: 25px;       /* Separa el título del párrafo */
}

.about-text p {
    font-size: 18px;
    line-height: 1.8;          /* Separa las líneas de texto para que sea fácil de leer */
    letter-spacing: 0.9px;
    margin-bottom: 20px;       
}

/* Columna de la Imagen */
.about-image-container {
    max-width: 450px;   
}     

.about-img {
    width: 100%;               /* Se adapta al tamaño de su contenedor */
    height: auto;              /* Mantiene la proporción original de la foto sin deformarla */
    box-shadow: 0 10px 30px rgba(0,0,0,0.05); /* Sutil sombra suave en los bordes como en el diseño */
}
